<?xml version="1.0"?>
<launch>
    <!-- Use the clock time coming from V-REP, otherwise some generated topics will be outdated as V-REP time is different from the normal timestamp -->
    <param name="use_sim_time" value="true" />

    <!-- Select the robot Universal Robotic Description Format (URDF) model -->
    <param name="robot_description" textfile="$(find vrc)/urdf/robot.urdf" />

    <!-- This creates the JointStates from the URDF model and publishes the transform topics (TF) so that RVIZ would know where is what on the robot (wheels, sensors...) -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />
</launch>
